/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {	
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
	display: block;
}

body {	
	line-height: 1.5;
}

ol, ul {	
	list-style: none;
}

blockquote, q {	
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {	
	content: '';	
	content: none;
}

table {	
	border-collapse: collapse;	
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

/* end reset */

/* mobile first */

html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#wrapper {
	height: 100vh;
	width: 100vw;
}

header {
	position: fixed;
	top: 0vh;
	height: 8vh;
	width: 97.5vw;
	border: 5px solid white;
	background-color: rgb(209, 192, 133);
	z-index: 2;
}

#logo {
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
}

h1 {
	display: block;
	position: absolute;
	top: 1%;
	left: 22%;
	margin: 1.5%;
	font-size: 1.5em;
	vertical-align: top;
}

h3 {
	padding-left: 1%;
	font-size: 4vw;
}

#menuNavContainer {
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 2%;
}

#menuLinksContainer {
	display: none;
	position: fixed;
	top: 1vw;
	right: 1vw;
}

#mobileMenuButton {
	position: absolute;
	top: 50%;
	right: 1%;
	height: 5vh;
	width: 8vw;
	border: 0;
	background-image: url("img/menu-button.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
}

#mobileMenuButton:focus {
	outline: 0;
}

#altMobileMenuButton {
	display: none;
	position: absolute;
	top: 50%;
	right: 1%;
	height: 5vh;
	width: 8vw;
	border: 0;
	background-image: url("img/menu-button-white.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
}

#altMobileMenuButton:focus {
	outline: 0;
}

#mobileMenuContainer {
	position: absolute;
	top: -100vh;
	left: 0vw;
	height: 86vh;
	width: 97vw;
	padding: 1% 0 1% 1%;
	font-family: sans-serif;
	overflow-y: scroll;
	background-color: rgba(10, 10, 10, 0.95);
	z-index: 1;
}

#mobileMenuContainer li {
	font-size: 1.2em;
	font-color: white;
	margin: 2%;
}

#mobileMenuContainer li a:link {
	text-decoration: none;
	border-bottom: 1px solid white;
}

#pageListContainer {
	position: fixed;
	top: 9vh;
	left: 0vw;
	height: 86vh;
	width: 98vw;
	padding: 1% 0 1% 1%;
	background-color: white;
	z-index: 0;
}

#pageList {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	background-color: rgb(255, 249, 162);
}

#pageList h2 {
	font-size: 1.6em;
}

#pageList li {
	padding: 1%;
	font-family: sans-serif;
	border-bottom: 1px solid brown;
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-thumb {
    background: brown;
}

#aboutTextContainer {
	position: absolute;
	top: 10vh;
	left: 1vw;
	width: 98vw;
	padding-bottom: 100px;
	background-color: rgb(255, 249, 162);
}

#aboutHeading {
	display: block;
	position: absolute;
	top: 1%;
	left: 12%;
	margin: 1.5%;
	font-size: 1.4em;
	vertical-align: top;
}

#aboutText {
	margin: 0 5%;
}

#aboutText h2 {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#aboutText p {
	line-height: 1.8em;
	margin-top: 20px;
}

#newPageButton {
	position: fixed;
	bottom: 7vh;
	right: 5vw;
	height: 50px;
	width: 50px;
	background-color: yellow;
	border-radius: 50%;
}

#newPageButton:focus {
	outline: 0;
}

#activePageContainer {
	position: fixed;
	top: -100vh;
	right: 2%;
	height: 85vh;
	width: 97vw;
    box-shadow: 0px 50px 150px -15px black;
}

#activePage {
	height: 100%;
	width: 100%;
	padding: 1% 0 1% 1%;
	font-family: sans-serif;
	overflow-y: scroll;
	background-color: rgb(255, 249, 162);
}

#activePageForm {
	height: 100%;
	width: 100%;
}

#titleLabel {
	position: relative;
	top: 0%;
	left: 1%;
	font-size: 0.8em;
}

#title {
	margin: 0% 1%;
	width: 96%;
	font-size: 1.5em;
}

#textLabel {
	position: relative;
	top: 0.5%;
	left: 1%;
	font-size: 0.8em;
}

#text {
	margin: 1% 1%;
	height: 70%;
	resize: none;
	width: 95.5%;
	max-width: 95.5%;
	font-size: 1.3em;
	font-family: 'Helvetica', sans-serif;
}

#mobileSavePageButton {
	display: none;
	position: fixed;
	bottom: 7vh;
	right: 5vw;
	height: 50px;
	width: 50px;
	background-color: yellow;
	border-radius: 50%;
}

#mobileSavePageButton:focus {
	outline: 0;
}

#savePageButton {
	display: none;
}

footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	padding: 1%;
	background-color: rgb(255, 255, 255);
}

/* end mobile */

/* tablet and desktop */

@media only screen and (min-width: 800px) {

	header {
		position: fixed;
		top: 0%;
		height: 60px;
		width: 98vw;
		padding-left: 1%;
		font-size: 1.7vw;
		border: 12px solid white;
	}
	
	#logo {
		height: 50px;
		width: 50px;
	}
	
	h1 {
		position: fixed;
		top: 1vh;
		left: 5vw;
		margin: 0 auto;
		vertical-align: top;
		font-size: 2vw;
	}
	
	h2 {
		font-size: 1.5vw;
	}
	
	#mobileMenuButton {
		display: none;
	}
	
	#mobileMenuContainer {
		display: none;
	}
	
	#menuLinksContainer {
		display: block;
	}
	
	#menuLinksContainer li {
		display: inline-block;
	}
	
	#pageListContainer {
		position: fixed;
		top: 70px;
		left: 0%;
		height: 87vh;
		width: 25%;
		padding: 1% 0 1% 1%;
	}
	
	#pageList li {
		width: 100%;
	}
	
	#pageList:last-child {
		margin-bottom: -3%;
	}
	
	::-webkit-scrollbar {
		width: 0.5vw;
	}
	
	#aboutTextContainer {
		position: absolute;
		top: 77px;
		left: 1vw;
		height: 87vh;
		width: 98vw;
	}
	
	#aboutText {
		max-width: 900px;
		margin: 0 auto;
	}
	
	#aboutText h2 {
		font-size: 1.5em;
	}
	
	#aboutText p {
		font-size: 1.2em;
		line-height: 2em;
	}
	
	#newPageButton {
		display: none;
	}

	#activePageContainer {
		position: fixed;
		top: 87px;
		right: 0%;
		height: 90%;
		width: 72%;
		overflow: hidden;
		box-shadow: 0px 0px 0px 0px black;
	}
	
	#mobileSavePageButton {
		display: none;
	}
	
	#savePageButton {
		display: block;
		position: fixed;
		bottom: 10vh;
		right: 1.2vw;
		height: 50px;
		width: 50px;
		background-color: yellow;
		border-radius: 50%;
	}

	#savePageButton:focus {
		outline: 0;
	}

	#activePage {
		width: 100%;
		height: 100%;
	}
	
	#text {
		/*
		position: absolute;
		top: 2vh;
		left: 1vw;
		height: 60vh;
		max-height: 60vh;
		width: 96%;
		max-width: 96%;
		*/
	}
	
	footer {
		height: 4vh;
	}
	
	h3 {
		font-size: 1.5em;
	}

/* end desktop */